
<%- include('partials/header.ejs'); -%>

  <h1>Home</h1>
  <p> <%= startingContent %> </p>
  
  <table>
  <% posts.forEach(post =>{ %>
    <tr>    
    <td>

          
          <div style="padding-right: 20px;">
            
            <h3><%= post.title %> </h3>
            <p> <%=post.content.substring(0,250)+ "..." %> <span><a href="/posts/<%=post.title %> " >Read More</a></span></p>
            </div>
          
          </td>
          <td>
            <div >
              <a href="/posts/<%=post.title %> ">
                <button class="btn btn-primary block">open</button>
              </a><br>
              <!-- <a href="">
                <button class="btn btn-primary">edit</button>
              </a> -->
              <a href="/delpost/<%= post.title %> ">
                <button class="btn btn-danger block" >Del</button>
              </a>
            </div>
          </td>
    </tr>
      <%  })%>
    </table>
<br><br><br>
<a href="/compose">

  <button class ="btn btn-primary">Compose new post</button>
</a>
<%- include('partials/footer'); -%>